body{background:#FDF5E6;}
header h1 {text-align: center}
header img {width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;}

.content {display:block;
              width: 600px;
              padding: 40px;
              margin: auto;
              }
.social li{display:inline-block;list-style-type: none;}
.social li a {text-decoration: none;}

